body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: rgb(69, 166, 252);
  height: 120px;
  max-width: 920px;
  width: 99%;
  border-radius: 20px;
  padding: 0px 5px 10px 5px;
  background: linear-gradient(to bottom, #69dd45, #f5f5f5);
}
p {
  font-size: 14px;
}
.olContainer {
  font-size: 14px;
}
#logo {
  font-size: 20px;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding-bottom: 5px;
  max-width: 700px;
}
.navElement {
  background-color: rgb(255, 255, 255, 0.5);
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 3px;
  width: 80px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.navElement:hover {
  background-color: #e58c24;
}
.navElement.selected {
  background-color: #e58c24;
}
main {
  border-top: 2px solid #3e9722;
  border-right: 2px solid #3e9722;
  border-left: 2px solid #3e9722;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 920px;
  width: 99%;
  height: 70vh;
  padding-top: 10px;
  padding-bottom: 10px;
}
.columna {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0 20px;
}
.columna > * {
  padding: 5px 10px;
}

#col1 {
  max-width: 220px;
  width: 25%;
}
#col2 {
  max-width: 480px;
  width: 54.54%;
}
#col3 {
  max-width: 180px;
  width: 20.45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.webs {
  font-size: 13px;
  margin-bottom: 5px;
}
footer {
  max-width: 920px;
  width: 99%;
  border: 2px solid #3e9722;
}
.subTitle {
  background-color: #3c74e6;
  width: 100%;
  color: #f5f5f5;
  padding: 9px 10px;
  display: flex;
}
.subTitle > .fecha {
  font-size: 10px;
  right: 0;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#lateralImg {
  background-color: rgb(184, 184, 184);
  border: 2px solid #000;
  width: 60%;
  height: 90%;
  margin-top: 10%;
}
a {
  color: #3e9722;
  font-weight: bold;
}

#unidades {
  margin-top: 50px;
}
#welcome {
  text-align: justify;
}
#gatito {
  float: left;
  max-width: 140px;
  margin-top: 20px;
  margin-right: 15px;
}
#linea {
  padding-top: 10px;
  font-size: 10px;
  border-top: 2px dotted #a1a1a1; /* 1px de grosor, línea de puntos, color negro */
  width: 100%; /* Puedes ajustar esto según tus necesidades */
  margin: 20px 0; /* Puedes ajustar el margen según tus necesidades */
}

@media (max-width: 780px) {
  nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }
  main {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .columna {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #col1 {
    display: flex;
    width: 90%;
    max-width: none;
  }
  #col2 {
    display: flex;
    width: 90%;
    max-width: none;
  }
  #col3 {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: none;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  label {
    max-width: 300px;
    width: 90%;
  }
  input {
    max-width: 300px;
    width: 90%;
  }
  footer {
    display: none;
  }
  #websList {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
}

/* 
COOLORES
#3c74e6
#666666
#333333
#3E9722
#E58C24
#CAE646
*/
